[submodule "libraries/JC_Button"]
	path = libraries/JC_Button
	url = https://github.com/JChristensen/JC_Button
[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = git@github.com:maddogjt/FastLED.git
[submodule "hardware/narc/amulet"]
	path = hardware/narc/amulet
	url = git@github.com:maddogjt/Amulet_Arduino
